body{
  background-color:skyblue;
}

#common-header{
  height:100px;
  max-width: 100%;
  min-width: 1052px;
  background-color:blue;
}

#common-header .links{
  position: absolute;
  left: 0;
  right: 0;
  top: 26px;
  text-align:right;
}

#common-header .links li{
  list-style:none;
  display:inline;
  padding:5px;
  margin: 0 15px 0 15px;
  border:1px solid black;
}
#common-header .links li a{
  color:white;
}






#common-footer{
  height:100px;
  border: 1px solid black;
  clear:both;

  color:gray;
}

.common-footer-email{
  border: 1px solid black;
  text-align:center;

  top : 20%;

}

.common-footer-tistory{
  text-align:center;
  border: 1px solid black;


}
